@{
    ViewData["Title"] = "Home Page";
}

@model List<Student>

<h1>Student List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>IsActive</th>
            <th>IsDeleted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>
                    @if (student.IsActive)
                    {
                        <h3 class="btn btn-success">Active</h3>
                    }
                    else
                    {
                        <h3 class="btn btn-danger">Not Active</h3>
                    }  
                </td>
                <td>
                    @if (student.IsDeleted)
                    {
                        <h3 class="btn btn-success">Active</h3>
                    }
                    else
                    {
                        <h3 class="btn btn-danger">Not Active</h3>
                    } 
                </td>
                <td>
                    @Html.ActionLink("Student Details","Details","home",new { id = student.Id })
                </td>
                <!-- Add more columns if needed -->
            </tr>
        }
    </tbody>
</table>
