html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-success{
    background-color:darkmagenta;
}
    .btn-success:hover {
        color: #fff;
        /* background-color: #157347; */
        /* border-color: #146c43; */
    }